@model Nunes_Sports.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1 class="text-center mb-4">Detalhes</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">Nome:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(x => x.Nome)</dd>

            <dt class="col-sm-3">Código:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(x => x.Codigo)</dd>

            <dt class="col-sm-3">Descrição:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(x => x.Descricao)</dd>

            <dt class="col-sm-3">Preço:</dt>
            <dd class="col-sm-9">@Html.DisplayFor(x => x.Preco)</dd>
        </dl>
    </div>
</div>

<div class="mt-4 text-center">
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">
        <i class="fas fa-edit"></i> Editar
    </a>
    <a asp-action="Index" class="btn btn-secondary ml-2">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>
