@model IEnumerable<Nunes_Sports.Models.Produto>

@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h2>Produtos</h2>

<div class="my-4">
    <a asp-action="Criar" class="btn btn-success">
        <i class="fas fa-plus"></i> Novo Produto
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Codigo)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Preco)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-warning ml-2">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-info ml-2">
                        <i class="fas fa-info-circle"></i> Detalhes
                    </a>
                    <a asp-action="Deletar" asp-route-id="@item.Id" class="btn btn-danger ml-2">
                        <i class="fas fa-trash"></i> Deletar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
